@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* MOving Image */

.dance2 {
    -webkit-animation: dance2 4s alternate infinite;
}

@keyframes dance2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(15px, -15px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -15px, 15px);
    }
}


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 50%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: #023047;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #2a2a2a;
}

img {
    width: 100%;
    overflow: hidden;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

html,
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #023047;
    color: #fff;
}

::-moz-selection {
    background: #023047;
    color: #fff;
}

@media (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .mobile-bottom-fix {
        margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.page-section {
    margin-top: 120px;
}

.section-heading h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: #2a2a2a;
    font-weight: 700;
    letter-spacing: 0.25px;
    position: relative;
    z-index: 2;
    line-height: 44px;
    margin-bottom: -5px;
}

.section-heading h2 em,
.section-heading span em {
    font-style: normal;
    color: #023047;
}

.section-heading h2 span {
    color: #ffb703;
    font-weight: 700;
    opacity: 1;
    text-transform: capitalize;
}

.section-heading span {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffb703;
}

.main-blue-button a {
    display: inline-block;
    background-color: #023047;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-blue-button-hover a {
    display: inline-block;
    background-color: #023047;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    transition: all .3s;
}

.main-blue-button-hover a:hover {
    background-color: #ffb703;
}

.main-red-button a {
    display: inline-block;
    background-color: #ffb703;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.main-red-button-hover a {
    display: inline-block;
    background-color: #ffb703;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    transition: all .3s;
}

.main-red-button-hover a:hover {
    background-color: #023047;
}

.main-white-button a {
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #ffb703;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
    background-color: #023047!important;
    height: 80px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
    color: #fff!important;
}

.background-header .main-nav .nav li:hover a {
    color: #ffb703!important;
}

.background-header .nav li a.active {
    color: #ffb703!important;
}

.header-area {
    background-color: #023047;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area.fixed {
    position: fixed
}

.header-area .main-nav {
    min-height: 80px;
    background: #023047;
}

.header-area .main-nav .logo {
    line-height: 100px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
    line-height: 75px;
}

.background-header .main-nav .nav {
    margin-top: 20px !important;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 30px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
    padding-left: 40px;
}

.header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a {
    padding: 0px 20px;
}

.header-area .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:last-child a.active {
    color: #ffb703 !important;
}

.header-area .main-nav .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-nav .nav li:last-child .main-red-button-hover a:hover {
    background-color: #ffffff !important;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
    color: #ffffff;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #ffb703!important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #ffb703!important;
    opacity: 1;
}

.header-area .main-nav .nav li.submenu {
    position: relative;
    padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #2a2a2a;
    position: absolute;
    right: 18px;
    top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
    color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 50px;
    opacity: 0;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
    opacity: 1;
    display: block;
    background: #f7f7f7;
    color: #2a2a2a!important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
    background: #fff;
    color: #ffb703!important;
    padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.background-header .main-nav .menu-trigger {
    top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #ffb703;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #ffb703;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #ffb703;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #ffb703;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #ffb703;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #ffb703;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #ffb703;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #ffb703;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area .nav {
    margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
    color: #ffb703;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 992px) {
    /* .header-area .main-nav .nav li:last-child,
    .background-header .main-nav .nav li:last-child {
        display: none;
    } */
    .header-area .main-nav .nav li:nth-child(6),
    .background-header .main-nav .nav li:nth-child(6) {
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    .background-header .main-nav .nav {
        margin-top: 80px !important;
    }
    .mt-x {
        margin-top: 20px
    }
    .header-area .main-nav .logo {
        color: #ffb703;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: #ffb703!important;
        opacity: 1;
    }
    .header-area.header-sticky .nav li.search-icon a {
        width: 100%;
    }
    .header-area {
        background-color: #f7f7f7;
        padding: 0px;
        height: 100px;
        box-shadow: none;
        text-align: center;
    }
    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav {
        overflow: hidden;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }
    .background-header .nav {
        margin-top: 80px;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
        float: none;
    }
    .header-area.header-sticky .nav {
        margin-top: 100px;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        padding-left: 0px !important;
        padding-right: 0px !important;
        float: left !important;
    }
    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #ffb703!important;
    }
    .header-area .main-nav .nav li.submenu ul {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
    }
    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }
    .header-area .main-nav .nav li.submenu ul.active {
        height: auto !important;
    }
    .header-area .main-nav .nav li.submenu:after {
        color: #3B566E;
        right: 25px;
        font-size: 14px;
        top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}


/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #fff;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #ffb703;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #ffb703;
    border-radius: 50%;
}


/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
    background: url(../images/header.png) no-repeat center;
    background-size: cover;
    padding: 200px 0px 100px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}

.main-banner-text {
    z-index: 1;
}

.main-banner:after {
    content: '';
    background-image: url(../images/baner-dec-left.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 100px;
    width: 267px;
    height: 532px;
}

.bread-banner {
    background: url(../images/bread.png) no-repeat center;
    background-size: cover;
    padding: 200px 0px 100px;
    position: relative;
    overflow: hidden;
}

.bread-banner h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffb703;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.bread-banner h2 .underline {
    position: relative;
    top: -20px;
}

.main-banner .item {
    margin-right: 45px;
}

.main-banner .item h6 {
    text-transform: uppercase;
    font-size: 18px;
    color: #ffb703;
    margin-bottom: 15px;
}

.main-banner .item h2 {
    font-size: 50px;
    font-weight: 700;
    color: #2a2a2a;
    line-height: 72px;
}

.main-banner .item h2 em {
    color: #023047;
    font-style: normal;
}

.main-banner .item h2 span {
    color: #ffb703;
}

.main-banner .item p {
    margin: 20px 0px;
}

.main-banner .item .down-buttons {
    display: inline-flex;
}

.main-banner .item .down-buttons .call-button i {
    margin-right: 5px;
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    background: #ffb703;
    color: #fff;
    font-size: 20px;
}

.main-banner .item .down-buttons .call-button a {
    color: #ffb703;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}

.main-banner .owl-dots {
    margin-top: 60px;
    counter-reset: dots;
}

.main-banner .owl-dot:before {
    counter-increment: dots;
    content: counter(dots);
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    color: #2a2a2a;
    width: 15px;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: all .5s;
}

.main-banner .active:before {
    color: #ffb703;
    border-bottom: 3px solid #ffb703;
}


/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

#services {
    padding-top: 3rem !important;
}

.our-services {
    padding-bottom: 5rem;
}

.our-services .services-left-dec img {
    width: 387px;
    height: 638px;
    left: -80px;
    top: -140px;
    position: absolute;
    z-index: 1;
}

.our-services .services-right-dec img {
    width: 305px;
    height: 305px;
    right: 25px;
    bottom: -120px;
    position: absolute;
    z-index: 1;
}

.our-services .container {
    position: relative;
}

.our-services {
    position: relative;
    margin-top: 0px;
    padding-top: 120px;
}

.our-services .section-heading {
    text-align: center;
    margin-bottom: 45px;
}

.our-services .section-heading h2 {
    margin: 0px 60px;
    margin-bottom: -10px;
}

.our-services .item {
    text-align: center;
    margin: 15px;
    border-radius: 0px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #ffb703;
}

.our-services .item a {
    font-size: 20px;
    font-weight: 600;
    color: #2a2a2a;
    margin-bottom: 10px;
    line-height: 30px;
}

.our-services .item .read-more {
    font-size: 16px;
}

.our-services .item .icon {
    width: 213px;
    height: 134px;
    background: url(../images/icon-bg-a.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

.our-services .item .icon img {
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
}

.our-services .item p {
    margin-top: 5px;
}

.our-services .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.our-services .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    background-color: #ffb703;
    border-radius: 50%;
    opacity: 0.3;
    margin: 0px 5px;
}

.our-services .owl-dots .active {
    opacity: 1;
    width: 10px;
    height: 10px;
}


/* 
---------------------------------------------
About
--------------------------------------------- 
*/

.border-bottom {
    border-bottom: 1px solid #ededf5 !important;
}

.page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    position: relative;
    min-height: 70px;
    background: #fff;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    list-style: none;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    padding: 0 !important;
    background-color: transparent !important;
}

.page-header .breadcrumb-item a {
    color: #5c5776;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #5c5776;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(255, 255, 255, 0.3);
    content: "/";
}

.page-header .breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

.breadcrumb-item.active {
    color: #001935;
}

.about-us {
    margin-top: 0px;
    padding-top: 120px;
}

.about-us-inner {
    margin-top: 0;
    padding-top: 60px !important;
}

.about-us .left-image {
    margin-right: 30px;
}

.about-us .section-heading h2 {
    margin-right: 60px;
}

.about-us .section-heading>p {
    margin-top: 20px;
}

.fact-item .icon {
    width: 45px;
    height: 45px;
}

.fact-item {
    margin-top: 45px;
}

.fact-item .count-digit {
    font-size: 48px;
    font-weight: 700;
    color: #2a2a2a;
    margin-top: 5px;
}

.fact-item .count-title {
    font-size: 15px;
    color: #ffb703;
}

.fact-item p {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.fact-item.v2 {
    box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
    border: 1px solid #eee;
    margin-top: 0;
    padding: 20px 15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.fact-item.v2:before {
    content: '';
    position: absolute;
    top: -100px;
    left: 30%;
    width: 100%;
    height: 100%;
    background: url(../images/services-right-dec.png) no-repeat;
    opacity: 0.6;
}

.mb-30 {
    margin-bottom: 30px
}

@media(max-width: 992px) {
    .mt-s {
        margin-top: 30px
    }
}

.about-2 {
    border-bottom-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.about-2:hover {
    background: #023047;
    color: #fff;
}

.box-shadow {
    box-shadow: 0px 0px 20px rgba(126, 142, 177, 0.5) !important;
}

.about-2:hover .servic-data p,
.about-2:hover .servic-data h4 {
    color: #fff;
}

.icon-service {
    display: inline-flex;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.icon-bg {
    border-radius: 100% !important;
    background: #fff;
}

.about-2:hover .icon-bg {
    border-radius: 100% !important;
    background: #fff;
}

.about img {
    width: 60px;
    height: 60px;
    text-align: center;
}

.servic-data h4 {
    font-size: 19px;
}

.servic-data p {
    font-size: 13px;
    line-height: 21px;
}

.card-aside {
    -ms-flex-direction: row;
    flex-direction: row;
}

.card-body> :last-child {
    margin-bottom: 0;
}

.card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.w-8 {
    width: 4rem !important;
}

.h-8 {
    height: 4rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.border {
    border: 1px solid #ededf5 !important;
}

.br-7 {
    border-radius: 7px;
}

.box-shadow-1 {
    box-shadow: 0 5px 12px rgba(126, 142, 177, 0.2) !important;
}


/* Testimonial Index Page */

.overflow-hidden {
    overflow: hidden !important;
}

.item-card9-img {
    width: 400px;
}

.item-card9-img {
    position: relative;
    height: 100%;
}

.item-card9-imgs {
    overflow: hidden;
}

.item-card9-imgs img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.cover-image {
    background-size: cover !important;
    width: 100%;
    position: relative;
}

.border-0 {
    border: 0 !important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
    height: 100%;
}

.text-default-dark {
    color: #18113c !important;
}

.item-card9 h3 {
    font-size: 1.3rem !important;
}

.item-card9 p {
    font-size: 16px;
    line-height: 21px;
}

#testimonial {
    padding-top: 20px !important;
}

#testimonial .section-heading {
    margin-bottom: 15px;
}

#testimonial .item {
    border-bottom: none !important;
}


/* 
---------------------------------------------
Contact Style
--------------------------------------------- 
*/

iframe {
    height: 19rem;
}

.sptb {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ededf5;
    border-radius: 7px;
    box-shadow: none;
    margin-bottom: 1.5rem;
    width: 100%;
}

.sptb .card:hover {
    box-shadow: 0 5px 12px rgba(126, 142, 177, 0.2);
}

.contacts .support-service {
    border-radius: 7px;
}

.bg-primary {
    background-color: #023047 !important;
}

.bg-secondary {
    background-color: #ef5050 !important;
}

.bg-success {
    background-color: #01d277 !important;
}

.bg-orange {
    background-color: #e67605 !important;
    color: #fff !important;
}

.support-service p {
    margin-bottom: 0;
    font-size: 15px;
}

.contacts .support-service p {
    color: rgba(255, 255, 255, 0.9);
}

.support-service {
    padding: 1.5rem 1.5rem;
    background: #f2f3f8;
    background-color: rgb(242, 243, 248);
    border-radius: 7px;
}

.contacts .support-service i {
    float: none;
    margin-bottom: 15px;
}

.support-service i {
    float: left;
    margin-right: 15px;
    font-size: 1.5rem;
    line-height: 40px;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.single-page {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    display: table;
    position: relative;
    border-radius: 7px;
}

.single-page.contact .wrapper.wrapper2 {
    top: 0%;
    left: 0%;
}

.single-page .wrapper.wrapper2 {
    top: -37%;
    left: 4%;
    background: #fff;
    width: 100%;
    transition: all .5s;
    color: #fff;
    overflow: hidden;
    border-radius: 7px;
}

.box-shadow-0 {
    box-shadow: none !important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
    height: 100%;
}

.text-dark {
    color: #2e384d !important;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.single-page .wrapper>form {
    width: 100%;
    transition: all .5s;
    background: #fff;
    width: 100%;
}

.card-body> :last-child {
    margin-bottom: 0;
}

.single-page .wrapper>form>div {
    position: relative;
    margin-bottom: 15px;
}

.single-page .wrapper label {
    color: #5c5776;
    float: left;
    font-weight: 600;
}

.single-page .wrapper h3,
.single-page .wrapper h4 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #5c5776;
}

.single-page .wrapper input,
.single-page .wrapper select {
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #ededf5;
    border-radius: 5px;
}

.form-select:focus {
    box-shadow: none;
}

.single-page .wrapper input:focus,
.single-page .wrapper select:focus {
    outline: 0;
    border-color: #ededf5;
}

.single-page .wrapper textarea {
    height: 100%;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #ededf5;
    border-radius: 5px;
}

textarea {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

.footer-dec {
    width: 100%;
    margin-top: 100px;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
    border-top: 1px solid #ededf5;
}

footer {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

footer .footer-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 30px;
}

footer .about .logo img {
    width: 89px;
    margin-bottom: 30px;
}

footer .about a {
    color: #023047;
    font-weight: 300;
}

footer .about ul {
    margin-top: 20px;
}

footer .about ul li {
    display: inline-block !important;
    margin-right: 5px;
}

footer .about ul li a {
    width: 32px;
    height: 32px;
    background-color: #023047;
    color: #fff !important;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
}

footer .about ul li a:hover {
    background-color: #ffb703;
}

footer .footer-item ul li {
    display: block;
    margin-bottom: 12px;
}

footer .footer-item ul li:last-child {
    margin-bottom: 0px;
}

footer .footer-item ul li a {
    font-size: 15px;
    color: #023047;
    transition: all .3s;
}

footer .footer-item ul li a:hover {
    color: #ffb703;
}

footer .footer-item p,
footer .footer-item a {
    font-size: 15px;
    color: #023047;
    margin-top: -5px;
}

footer .footer-item form {
    background-color: #023047;
    height: 46px;
    border-radius: 23px;
    position: relative;
    margin-top: 15px;
}

footer .footer-item form input {
    line-height: 46px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0px 20px;
    outline: none;
}

footer .footer-item form input::placeholder {
    color: #fff;
}

footer .footer-item form button {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}

footer .copyright p {
    text-align: center;
    border-top: 1px solid #eee;
    color: #afafaf;
    margin-top: 50px;
    padding: 20px 0px;
    font-weight: 300;
}

footer .copyright p a {
    color: #ffb703;
}

.footer-phone {
    margin-right: .5rem;
}

.footer-email {
    margin-right: 0.5rem;
}

.footer-email-link {
    color: #023047;
}


/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 1240px) {
    .main-banner::before {
        width: 640px;
        height: 526px;
    }
}

@media (max-width: 992px) {
    .main-banner::before {
        display: none;
    }
    .main-banner .item {
        margin-right: 0px;
    }
    .main-banner {
        background-position: left;
    }
    .about-us .section-heading h2 {
        margin-right: 0px;
    }
    .fact-item {
        text-align: center;
    }
    .fact-item .icon {
        margin: 0 auto;
    }
    .contact-us .section-heading h2 {
        margin-right: 0px;
        text-align: center;
    }
    form#contact {
        margin-left: 0px;
        margin-top: 00px;
    }
    form#contact {
        padding: 45px 30px;
    }
    .footer-item {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .main-banner .item .down-buttons {
        display: inline-block;
    }
    .main-banner .item h2 {
        font-size: 35px;
        line-height: 1.4
    }
    .main-banner .item .down-buttons .main-blue-button {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .main-banner .item .down-buttons .call-button a {
        margin-left: 0px;
    }
}


/* Single Service Detail Page */

.services {
    background-color: #fff
}

.services .section-title {
    margin-bottom: 70px
}

.services.style2 .single-service {
    padding: 40px 30px;
    padding-bottom: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px rgba(87, 87, 87, .23);
    box-shadow: 0 0 50px rgba(87, 87, 87, .23);
    border: none;
    border-radius: 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden;
    position: relative;
    margin-top: 30px
}

.services.style2 .single-service::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: #473bf0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.services.style2 .single-service:hover::before {
    width: 100%
}

.services.style2 .single-service img {
    margin-bottom: 20px
}

.services.style2 .single-service p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px
}

.services.style2 .single-service .more {
    color: #081828;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px
}

.services.style2 .single-service .more i {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    position: relative;
    top: 2px
}

.services.style2 .single-service .more:hover {
    letter-spacing: 1px;
    color: #473bf0
}

.services.style3 .section-title {
    margin-bottom: 70px
}

.services.style3 .single-service {
    position: relative;
    text-align: left;
    padding: 50px;
    -webkit-box-shadow: 0 0 30px rgba(138, 138, 138, .23);
    box-shadow: 0 0 30px rgba(138, 138, 138, .23);
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
    margin-top: 30px
}

.services.style3 .single-service::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    content: "";
    background-color: #473bf0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.services.style3 .single-service:hover {
    -webkit-box-shadow: 0 10px 50px rgba(116, 116, 116, .23);
    box-shadow: 0 10px 50px rgba(116, 116, 116, .23)
}

.services.style3 .single-service:hover::before {
    width: 100%
}

.services.style3 .single-service .serial {
    font-size: 45px;
    display: block;
    margin-bottom: 7px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #473bf0;
    font-weight: 800
}

.services.style3 .single-service:hover .serial {
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: #473bf0
}

.services.style3 .single-service p {
    font-weight: 400;
    font-size: 13px;
    color: #888
}

.services.style3 .single-service .button {
    margin-top: 30px
}

.services .single-head {
    position: relative
}

.single-service {
    padding: 50px 40px;
    background-color: #f4f7fa;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px dashed #473bf0
}

.single-service:hover {
    -webkit-box-shadow: 0 32px 54px 0 rgba(22, 28, 45, .16);
    box-shadow: 0 32px 54px 0 rgba(22, 28, 45, .16);
    background-color: #fff
}

.single-service h3 {
    line-height: 24px
}

.single-service h3 a {
    color: #081828;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600
}

.single-service h3 a:hover {
    color: #473bf0
}

.single-service .icon {
    margin-top: 25px
}

.single-service .icon i {
    font-size: 32px;
    color: #473bf0
}

.single-service p {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    line-height: 24px;
    margin-top: 25px
}

.service-details .content {
    padding: 4rem 0
}

.service-details .content img {
    width: 100%;
    border-radius: 5px
}

.service-details .content .thumb {
    margin-bottom: 40px
}

.service-details .content .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee
}

.service-details .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0
}

.service-details .content p {
    display: block;
    margin: 20px 0;
    line-height: 24px
}

.service-details .content .text-sm {
    margin: 1px 0;
}

.service-details .content p:last-child {
    margin-bottom: 0
}

.service-details .content .list1 {
    margin: 20px 0;
}

.yellow-border {
    border-bottom: 5px solid #ffb703;
}

.service-details .content .list {
    margin: 40px 0;
    padding-left: 30px
}

.list-1 {
    border-bottom: 5px solid #ffb703;
    padding: 15px;
}

.service-details .content .list li,
.service-details .content .list1 li {
    display: block;
    margin-bottom: 15px;
    position: relative;
    padding-left: 32px
}

.service-details .content .list li:last-child,
.service-details .content .list1 li:last-child {
    margin-bottom: 0
}

.service-details .content .list li i,
.service-details .content .list1 li i {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 7px;
    height: 18px;
    width: 18px;
    background: #023047;
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
    padding-left: 1px;
}

.service-details .accordion {
    margin-top: 40px
}

.service-details .accordion-body p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px
}

.service-details .accordion-body p:last-child {
    margin: 0
}

.extra-page {
    padding-bottom: 70px
}

.extra-page .single-service {
    margin-bottom: 30px
}

.service-sidebar .single-widget {
    margin-bottom: 30px;
    position: relative;
    padding: 40px;
    border-radius: 5px;
    background-color: #f4f7fa
}

.service-sidebar .single-widget h3 {
    font-size: 17px;
    font-weight: 600;
    color: #081828;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #473bf0
}

.service-sidebar .single-widget:last-child {
    margin: 0
}

.service-sidebar .search-widget {
    position: relative
}

.service-sidebar .search-widget form {
    position: relative
}

.service-sidebar .search-widget form input {
    width: 100%;
    background-color: transparent;
    height: 55px;
    border: none;
    padding: 0 70px 0 20px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    color: #081828
}

.service-sidebar .search-widget form input::-webkit-input-placeholder {
    color: #333
}

.service-sidebar .search-widget form input:-ms-input-placeholder {
    color: #333
}

.service-sidebar .search-widget form input::-ms-input-placeholder {
    color: #333
}

.service-sidebar .search-widget form input::placeholder {
    color: #333
}

.service-sidebar .search-widget form button {
    position: absolute;
    right: 9px;
    top: 50%;
    width: 40px;
    height: 38px;
    z-index: 1;
    color: #fff !important;
    font-size: 13px;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    color: #fff;
    border-radius: 5px;
    padding: 0 !important;
    border: none;
    margin-top: -19px;
    background: #473bf0
}

.service-sidebar .search-widget form button:hover {
    background-color: #081828;
    color: #fff
}

.service-sidebar .service-category li {
    display: block;
    margin-bottom: 15px
}

.service-sidebar .service-category li:last-child {
    margin-bottom: 0
}

.service-sidebar .service-category li a {
    padding: 15px 20px;
    background-color: #fff;
    color: #081828;
    font-weight: 500;
    display: block;
    border-radius: 5px;
    border: 1px solid #eee;
    position: relative;
    padding-right: 40px
}

.service-sidebar .service-category li a i {
    float: right;
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 20px;
    height: 18px;
    top: 50%;
    margin-top: -9px
}

.service-sidebar .service-category li a:hover {
    background-color: #473bf0;
    color: #fff;
    border-color: transparent
}

.service-sidebar .download {
    background-color: #f4f7fa;
    padding: 35px;
    border: 1px solid #eee;
    border-radius: 5px
}

.service-sidebar .download li {
    display: block;
    margin-bottom: 15px
}

.service-sidebar .download li:last-child {
    margin-bottom: 0
}

.service-sidebar .download li a {
    padding: 15px 20px;
    background-color: #fff;
    color: #081828;
    font-weight: 500;
    display: block;
    border-radius: 5px;
    border: 1px solid #eee;
    position: relative;
    padding-right: 40px
}

.service-sidebar .download li a i {
    float: right;
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 20px;
    height: 18px;
    top: 50%;
    margin-top: -9px
}

.service-sidebar .download li a:hover {
    background-color: #473bf0;
    color: #fff;
    border-color: transparent
}

.accordion-item .accordion-button {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
    border: 1px solid #eee
}

.accordion-item .accordion-button span {
    float: left
}

.accordion-item .accordion-button i {
    float: right;
    font-size: 13px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #023047;
    border-color: transparent;
    border-radius: 5px 5px 0 0
}

.accordion-button:not(.collapsed) i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.accordion-button::after {
    display: none
}

.accordion-collapse {
    border: none
}

.accordion-body {
    border: 1px solid #eee;
    border-radius: 0 0 5px 5px;
    padding: 30px 20px
}

.accordion-body p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px
}

.accordion-body p:last-child {
    margin: 0
}

.accordion-item {
    margin-bottom: 20px
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

.pro-content {
    padding: 30px 0 100px 0 !important;
}

blockquote {
    position: relative;
    color: #fff;
    font-weight: 400;
    clear: both;
    z-index: 1;
    margin: 40px 0;
    text-align: left;
    padding: 40px;
    background-color: #023047;
    border: none;
    border-radius: 5px;
    overflow: hidden
}

blockquote h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #fff
}

.map {
    z-index: 10;
    position: relative;
}

.contact-social {
    padding-left: 30px;
    padding-bottom: 15px;
}

.contact-social ul {
    margin-top: 20px;
}

.contact-social ul .social-media-icon {
    display: inline-block !important;
    margin-right: 5px;
    margin-bottom: 12px;
}

.contact-social ul .social-media-icon a {
    width: 32px;
    height: 32px;
    background-color: #023047;
    color: #fff !important;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
}

.ul-list {
    margin-top: 4.5rem !important;
}

.address-heading {
    padding-top: 15px;
}

.card-height {
    display: flex;
    justify-content: center;
    align-items: center;
}